.container {
  width: 100%;
  max-width: 1478px;
  padding: 5rem 7rem;
  margin: auto;
}
.section {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5rem;
  img {
    width: 525px;
    height: 160px;
    margin-right: 3rem;
  }
  div {
    h1 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    h2 {
      font-size: 12px;
      font-weight: normal;
      color: gray;
      margin-bottom: 24px;
    }
    button {
      color: #000000;
      cursor: pointer;
      width: 100px;
      height: 36px;
      border-radius: 2px;
      border: none;
    }
  }
}
