.container {
  width: 100%;
  max-width: 1478px;
  padding: 2rem 7rem;
  margin: auto;
  @media (max-width: 820px) {
    padding: 2rem 0 2rem 3rem; 
  }
}
.section {
  width: 100%;
  height: 50%;
  .div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 820px) {
      .arrows{
        margin-right: 4rem;
      }
    }
    .arrows {
      display: flex;
      button {
        background-color: transparent;
        color: #ffffff;
        width: 40px;
        height: 40px;
        margin: 5px 0 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid white;
        border-radius: 50%;
        svg {
          font-size: 22px;
        }
      }
    }
    h2 {
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 10px;
      color: gray;
    }
    h1 {
      font-size: 28px;
      font-weight: bold;
    }
  }
}
.music {
  overflow: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 1478px;
  display: grid;
  white-space: nowrap;
  gap: 5px;
  padding: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.music::-webkit-scrollbar{
  display: none;
}